// Colours

$primary: #164693;

$light-grey: #f1f1f1;

$white: #fff; 


// Font styles

$body-text: 'Muli', sans-serif;

$heading: 'Open Sans', sans-serif;

// whitespace

$padding: 16px 32px; // desktop

$padding_mobile: 24px; // mobile

