/* Colours */

$primary: #164693;

$light-grey: #f1f1f1;

$white: #fff; 

/* Font sizes 

$h1: 3rem; 

$h2: 2.25rem; 

$h3: 1.75rem; 

$h4: 1.125rem;

$body-txt: 1rem;

*/


/* Font styles */

$body-text: 'Muli', sans-serif;

$heading: 'Open Sans', sans-serif;

/* Line heights */



