
/* navigation remove underline and bullets*/

nav{
    background-color: none;
}

nav a{
    text-decoration: none;
    color:$primary;
}

/* navigation spacing and alignment*/

nav ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
    text-align: right;
    -webkit-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
}

/* navigation list spacing*/

nav ul li{
    display: inline-block;
    padding: 25px;
}

/* style on hover*/

    nav ul li:hover {
    background-color: #173a4f;
}

/* navigation hamburger icon*/

.handle{
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 10px;
    cursor: pointer;
    background-color: #173a4f;
    color:#fff;
    cursor: pointer;
    display: none;
}

/* navigation hamburger icon on hover*/

.handle:hover{
    background-color: #2655a0;
}


/*mobile sized screen*/

@media screen and (max-width: 600px) {

/* navigation spacing and alignment-mobile*/

nav ul{
    margin-right: 0px;
    max-height: 0px;
}

/*allows the dropdown menu to appear*/
  
.show {
    max-height: 25rem;
}

/* spacing between mobile sized links for better UX

nav {
    margin-top: 7px;
  }*/
  /* full width hyperlink button for better UX */
  
nav ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    text-align: left;
  }
  
/* hamburger icon */

  .handle {
    font-size: 2.5rem;
    display: block;
  }
}