/* hero banner */

.hero{
	background:$light-grey;
	height:100%;
}

.title{
	padding: 1em 3em;
	z-index: 1;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: $primary;
	text-shadow: 0 0 8px $white;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

hr{
	width:40px;
	border: 2px solid $primary;
}

#particles-js{
	height: 100vh;
	z-index: -100;
}

/* about */

footer{
	background: $primary;
	height: 100%;
}

.parallax_2{
	background: red;
	height: 100%;
}

